.baike-container {
	padding: 10px 5px;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    min-height: 800px;
    position: relative;
}
.baike-nav{
    padding-bottom: 20px;
}
.baike-nav .breadcrumb{
    background-color: #fff;
    margin-bottom: 0px!important;
}
.baike-nav a {
    color: #6FAC6F;
}
.baike-nav a:hover{
    text-decoration: none;
    color: #e12160;
}
.baike-nav .active{
    color: #000;
}
.baike-cfa{
    padding: 0 50px;
}
.baike-cfa .title{
    margin: 0!important;
    padding: 10px 0;
}
.baike-cfa .content{
    padding: 10px 40px;
    line-height: 24px;
}
.baike-cfa .content li{
    line-height: 24px;
}
.baike-cfa .race li{
    font-size: 12px;
}
.baike-cfa .example{
    padding: 10px 10px 1px;
    background-color: #e0e0e0;
    margin-bottom: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 12px;
}
.baike-cfa u{
    margin: 0 5px;
}
.baike-cfa .memo{
    color: #999;
}
.baike-cfa strong{
    margin-right: 10px;
}
.baike-cfa .cfa span{
    display: block;
    width: 30%;
    height: 25px;
    line-height: 25px;
    padding: 5px 0;
    float: left;
}
.baike-cfa .cfa span a.src{
    font-size: 12px;
    margin-left: 5px;
}
.baike-cfa .cfa span a:hover{
    text-decoration: none;
    color: #e12160;
}
