.baike-container {
	padding: 10px 5px;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    min-height: 800px;
    position: relative;
}
.baike-nav{
    padding-bottom: 20px;
}
.baike-nav .breadcrumb{
    background-color: #fff;
    margin-bottom: 0px!important;
}
.baike-nav a {
    color: #6FAC6F;
}
.baike-nav a:hover{
    text-decoration: none;
    color: #e12160;
}
.baike-nav .active{
    color: #000;
}
.baike-fci{
    padding: 0 50px;
}
.baike-fci .title{
    margin: 0!important;
    padding: 10px 0;
}
.baike-fci .content{
    padding: 10px 40px;
    line-height: 24px;
}
.baike-fci .content p{
}
.baike-fci .content li{
    line-height: 24px;
}

.baike-fci-row{
}
.baike-fci-title{
    height: 32px;
    line-height: 32px;
    font-weight: 600;
    font-size: 16px;
    color: #666;
}
.baike-fci-title-en{
    height: 28px;
    line-height: 28px;
    color: #aaa;
    font-size: 14px;
    font-weight: normal;
    border-bottom: 1px dotted #ddd;
}
.baike-fci-body{
    padding: 10px 0;
}
.baike-fci-body a{
    text-decoration: none;
}
.baike-fci-body a:hover{
    text-decoration: none;
    color: #e12160;
}
.baike-fci-body .en{
    color: #aaa;
    padding-left: 10px;
}
.baike-fci a:hover{
    text-decoration: none;
    color: #e12160;
}

.baike-fci .titleen{
    color: #e0e0e0;
    margin: 0;
}
.baike-fci .subtitle{
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}
.baike-fci .subtitleen{
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #e0e0e0;
    font-size: 16px;
    font-weight: 700;
}
.baike-fci table{
    padding: 0;
    margin: 0 auto;
    width: 100%;
}
.baike-fci tr.odd td{
    background: #F5FAFA;
    color: #797268;
}
.baike-fci th {
    color: #4f6b72;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background: #CAE8EA;
    text-align: center;
}
.baike-fci td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #fff;
    font-size:11px;
    padding: 6px 6px 6px 12px;
    color: #4f6b72;
}
.baike-fci td.first {
    border-left: 1px solid #C1DAD7;
}
.baike-fci td.center {
    text-align: center;
    padding: 6px!important;
}
.baike-fci td.center {
    height: 50px;
}
.baike-fci .sub{
    position: relative;
}
.baike-fci .arrow{
    position: absolute;
    top: 0;
    width: 100;
    height: 55px;
}
.baike-fci .left{
    left: 40px;
    padding-left: 16px;
    background: url("../img/left-arrow.jpg") no-repeat left 20px;
}
.baike-fci .right{
    right: 40px;
    padding-right: 16px;
    background: url("../img/right-arrow.jpg") no-repeat right 20px;
}
.baike-fci .arrow .subtitleen{
    margin-top: 0!important;
    height: 55px;
    line-height: 55px;
    color: #e0e0e0;
}
.baike-fci .arrow:hover > .subtitleen{
    color: #999;
}
.baike-fci .left:hover{
    background: url("../img/left-arrow-hover.png") no-repeat left 20px;
}
.baike-fci .right:hover{
    background: url("../img/right-arrow-hover.png") no-repeat right 20px;
}
