body{
    background: #f8f8f7;
    overflow-y:auto;
    overflow-x: hidden;
}
.container {
    width: 1170px!important;
}
.header{
}
.header-logo {
    float: left;
    top: 0;
    left: 0;
}
.header-info a {
    color: #12937c;
    text-decoration: none;
}
.header-info a:hover {
    text-decoration: underline;
    color: #ed585c;
}
.header-info {
    float: right;
    top: 0;
    right: 0;
    height: 60px;
    line-height: 60px;
}
.header-info span {
    display: inline-block;
}
.header-info .divider{
    height: 16px;
    vertical-align: text-bottom;
    border-right: 1px solid #ccc;
    margin: 0 3px;
}
.header-navbar{
    width: 100%;
    margin: 0 auto 15px;
    background-color: #daeae8;
}
.header-navbar-inner {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    height: 60px;
}
.header-navbar-inner .nav-item{
    height: 40px;
    line-height: 40px;
    margin: 10px 1px;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.header-navbar-inner .nav-item a{
    display: block;
    text-decoration: none;
    padding: 0 12px;
    width: 75px;
    height: 40px;
    line-height: 40px;
    color: #12937c;
    text-align: center;
}
.header-navbar-inner .nav-item a:hover{
    background-color: #12937c;
    color: #fff;
}
.header-navbar-inner .nav-item a.active{
    /*font-weight: bold;*/
    /*color: #16a085;*/
    background-color: #12937c;
    color: #fff;
}
.header-navbar-inner .nav-item a.active:hover{
    color: #fff;
}

.row{
    margin-left: 0!important;
}
.span9 {
    width: 870px!important;
    margin-left: 0px!important;
}
.span3 {
    width: 270px!important;
    margin-left: 30px!important;
}
.pets-header a{
    color: #61646e!important;
}
.pets-header{
    font: 12px/1.5 Arial,sans-serif;
    font-family: Tahoma,sans-serif;
}
.pets-header-tips{
    color: #999;
}
.pets-divider-vertical{
    padding: 0 5px;
    color: #BFBFBF;
}
.pets-nav a:hover{
    background-color: #e5e5e5!important;
}
.pets-nav .active{
    background-color: #e5e5e5;
}
.pets-brand{
    font-size: 16px!important;
}
.pets-footer {
    padding: 25px 15px 35px;
}

.clear{
    clear: both;
}
.rank{
    display: block;
    width: 120px;
    height: 24px;
    background: url("../img/star.png") no-repeat 0 0;
}
.rank-star0{
    background-position: 0 -120px;
}
.rank-star10{
    background-position: 0 -96px;
}
.rank-star20{
    background-position: 0 -72px;
}
.rank-star30{
    background-position: 0 -48px;
}
.rank-star40{
    background-position: 0 -24px;
}
.rank-star50{
    background-position: 0 0;
}

.error-container{
    min-height: 500px;
    position: relative;
}
.error{
    width: 450px;
    margin: 150px auto 0;
    padding: 15px 5px 5px 80px;
    border: 1px solid #eed3d7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #b94a48;
    line-height: 25px;
    background: #f2dede url("../img/error.png") no-repeat 40px 13px;
}
.error-title{
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 5px;
}
.error li{
    line-height: 24px;
}
.error-warning{
    background: #fcf8e3 url("../img/warning.png") no-repeat 40px 13px;
    border-color: #fbeed5;
    color: #c09853;
}

.returnTop {
    position: fixed;
    _position: absolute;
    right: 10px;
    bottom: 50px;
    _bottom: auto;
    display: none;
    width: 50px;
    height: 39px;
    border-radius:3px;
    -webkit-border-radius: 3px;
    background-color: #b9b9b9;
    text-indent: -9999px;
    cursor: pointer;
    padding-top: 11px;
}
.returnTop span{
    display: block;
    margin: 0 auto;
}
.returnTop .l {
    width: 25px;
    height: 2px;
    margin: 0 auto;
    background-color: #fff;
}
.returnTop .s {
    width: 0;
    height: 0;
    border-width: 14px;
    border-top: 0;
    margin-top: 1px;
    border-color: transparent transparent #ffffff;
    border-style: dashed dashed solid;
}
.returnTop .b {
    height: 12px;
    width: 10px;
    background: #ffffff;
}
.returnTop:hover {
    background-color: #9b9b9b;
}
.copyright a{
    color:#999;
    text-decoration: none;
    font-size: 12px;
}
.copyright a:hover, a:active{
    color:#fff;
    background-color: #999;
    text-decoration: none;
}
