.map-container {
    border: 1px solid #CAD2DD;
}

#mapLeft {
    width: 329px;
    min-width: 329px;
    _width: 329px;
    border-right: 1px solid #CAD2DD;
    overflow: hidden;
    float: left;
}

#mapLeftContainer {
    height: 660px;
    overflow: hidden;
    padding: 0px;
    width: 329px;
    background-color: #fff;
    position: relative;
}
#mapLeftContainer .logo{
    width: 300px;
    border-top: 1px solid #ddd;
    position: absolute;
    bottom: 0px;
    left: 15px;
    height: 36px;
}
#mapLeftContainer .dianping{
    position: absolute;
    bottom: 0px;
    left: 144px;
    height: 30px;
    width: 85px;
    background: url("../img/dp.png");
    background-size: 85px 30px;
    opacity:0.6;
    filter:alpha(opacity=60);
}
#mapLeftContainer .dianping span{
    margin-left: -167px;
    line-height: 30px;
    height: 30px;
}

#mapRight {
    position: relative;
    margin-left: 331px;
}

#mapTool {
    height: 36px;
    border-bottom: 1px solid #CAD2DD;
    box-shadow: 1px 2px 3px 0 #828E9A;
    background: #fff;
    position: relative;
    z-index: 201;
}

#mapCity {
    border: 1px solid #fff;
    margin-top: 5px;
    padding: 4px 6px;
    border-radius: 2px;
    float: left;
}

#mapDiv {
}
.autoCity {
    border: 1px solid #fff;
    margin-top: 5px;
    padding: 4px 6px;
    border-radius: 2px;
    position: absolute;
    left: 270px;
}

#shopListTitle {
    position: relative;
    background-repeat: repeat-x;
    border-bottom: 1px solid #e0e0e0;
    width: 328px;
    height: 36px;
    line-height: 36px;
    zoom: 1;
    font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#shopList {
    height: 580px;
    overflow-y: auto;
}

.shopContainer em {
    font-style: normal;
}

.shopContainer ul {
    list-style: none outside;
    margin: 0;
    padding: 0;
}
.shopContainer li{
    border-top: 1px dotted #f8cfa5;
    padding: 15px 10px 15px 15px;
    margin-top: -1px;
    zoom: 1;
}
.shopContainer li:hover {
    background-color:#fff9f1;
}
.shopContainer li.selected {
    background-color:#fff9f1;
}
.shopContainer h6{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    display: block;
    font-weight: bold;
}
.shopContainer h6 .igroup{
    background-image: url(http://si1.s1.dpfile.com/s/c/app/search/i/search/search.29325882b4c2175492d3fad1a6648d57.png);
    background-repeat: no-repeat;
    background-position: -66px -80px;
    display: -moz-inline-box;
    display: inline-block;
    margin-right: 5px;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    font-size: 0;
    zoom: 1;
}
.shopContainer .order {
    background-color: #f90;
    color: #fff;
    width: 18px;
    height: 18px;
    text-align: center;
    font-style: normal;
    margin-right: 10px;
    vertical-align: bottom;
    display: inline-block;
    overflow: hidden;
    zoom: 1;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.shopContainer .name {
    margin-right: 10px;
    font-size: 14px;
    color: #66c;
    font-weight: bold;
    text-decoration: none;
}
.shopContainer .name:hover {
    background-color: #66c;
    color: #fff;
    text-decoration: none;
}
.shopContainer .remark {
    padding-top: 4px;
    zoom: 1;
    font-size: 12px;
}
.shopContainer .remark .star {
    margin: -1px 10px 0 0;
}
.shopContainer .remark .star img {
    width: 64px;
    height: 12px;
}
.shopContainer .remark .sep {
    color: #999;
    padding: 0 10px 0 0;
}
.shopContainer .remark .price {
    color: #999;
}
.shopContainer label {
    display: inline;
    font-size: 12px;
}
.shopContainer .remark .avg {
    color: #c00;
    font-family: Verdana,Geneva,sans-serif;
    padding-left: 5px;
}
.shopContainer .address {
    padding-top: 2px;
    font-size: 12px;
    color: #333;
}
.shopContainer .address .address-label {
    color: #999;
    padding-right: 10px;
    float: left;
}
.shopContainer .address .address-value{
    float: left;
    width: 265px;
}
.shopContainer .review a {
    font-size: 12px;
}
.parentContainer {
    width: 260px;
}
.infoContainer {
    width: 240px;
    padding: 10px;
    background-color: white;
    border: 1px solid #BCBCBC;
    box-shadow: 0 0 10px #B7B6B6;
    z-index: 100;
    position: relative;
}
.infoContainer .address .address-value {
    width: 200px;
}
.infoContainer .close {
    position: absolute;
    top: 10px;
    right: 10px;
    transition-duration: 0.25s;
    border: none;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.info-bottom {
    height: 0;
    width: 100%;
    text-align: center;
    margin-top: -1px;
}
.info-bottom img {
    z-index: 104;
    position: relative;
}

.shopContainer .list_page {
    padding: 10px 16px;
    font-size: 12px;
}
.shopContainer .list_page .page_detail {
    float: left;
}
.shopContainer .list_page .control{
    float: right;
}
.shopContainer .list_page .page_btn {
    color: #000;
    background: -webkit-gradient(linear,0 0,0 100%,from(#FAFAFA),to(#F2F2F2));
    background: -moz-linear-gradient(top,#FAFAFA,#F2F2F2);
    background: linear-gradient(to bottom,#FAFAFA,#F2F2F2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FAFAFA, endColorstr=#F2F2F2, grandientType=1);
    border: 1px solid #C6C6C6;
    width: 50px;
    height: 22px;
    line-height: 22px;
    float: left;
    text-align: center;
    cursor: pointer;
}
