.pets-movie-container {
	padding: 10px 5px; 
	border: 1px solid #ddd; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px;
}
.pets-movie-nav {
	padding-left: 20px;
}

.pets-movie-nav .nav-title {
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	padding: 5px 0 7px 0;
	border-bottom: 1px dotted #ddd;
}
.pets-movie-nav .nav-title h3 {
	display: block;
	margin: 0;
	padding: 0;
	color: #e12160;
	font-weight: 700;
	float: left;
	font-size: 16px;
}

.pets-movie-nav .nav-filter-list .nav-filter {
	border-bottom: 1px dotted #eee;
}
.pets-movie-nav .nav-filter-list .nav-filter ul {
	margin-top: 10px;
}
.pets-movie-nav .nav-filter-list .nav-filter li {
	height: 25px;
	line-height: 25px;
	text-align: center;
	padding: 2px 10px;
}
.pets-movie-nav .nav-filter-list .nav-filter a {
    display: inline-block;
    color: #333;
    text-decoration: none;
}
.pets-movie-nav .nav-filter-list .nav-filter li:hover {
	background-color: #eee;
	cursor: pointer;
}
.pets-movie-nav .nav-filter-list .nav-filter li:hover {
    color: #e12160;
}
.pets-movie-nav .nav-filter-list .nav-filter .filter-name{
	font-weight: bold;
	padding: 0px;
	width: 45px;
    color: #909090;
}
.pets-movie-nav .nav-filter-list .nav-filter .active {
	background-color: #eee;
	cursor: default;
	color: #e12160;
}
.pets-movie-nav .nav-filter-list .nav-filter .active a {
    color: #e12160;
}
.pets-movie-nav .nav-filter-list .nav-filter .active:hover{
	cursor: default;
}
.pets-movie-nav .nav-filter-list .nav-filter .active:hover > a{
    cursor: default;
}
.pets-movie-nav .nav-filter-list .last {
	border-bottom: none;
}
.pets-movie-nav .nav-filter-list .last ul {
	margin-bottom: 0px;
}

.pets-movie-list {
	margin-top: 10px;
}
.pets-movie-list .view-filter {
    height: 30px;
}
.pets-movie-list .view-filter .filter-order {
    float: left;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    color: #999;
    padding-left: 10px;
}
.pets-movie-list .view-filter .filter-order .order{
    display: block;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding: 0 8px;
    float: left;
    border-radius: 2px;
    color: #000000;
}
.pets-movie-list .view-filter .filter-order .order:hover{
    text-decoration: none;
    background-color: #eee;
    color: #e12160;
}
.pets-movie-list .view-filter .filter-order .slash{
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 6px;
    float: left;
    color: #999;
}
.pets-movie-list .view-filter .filter-order .active{
    color: #ffffff;
    background-color: #3a87ad;
    font-weight: 700;
    cursor: default;
}
.pets-movie-list .view-filter .filter-order .active:hover{
    color: #ffffff;
    background-color: #3a87ad;
    font-weight: 700;
    cursor: default;
}
.pets-movie-list .view-filter .filter-order em{
    height: 30px;
    line-height: 30px;
    float: left;
    padding: 0 6px;
}
.pets-movie-list .view-filter .filter-view-mode {
    float: right;
    height: 30px;
    line-height: 30px;
    width: 200px;
}
.pets-movie-list .view-filter .filter-view-mode a {
    display: block;
    float: right;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    text-decoration: none;
}
.pets-movie-list .view-filter .filter-view-mode a:hover {
    background-color: #eee;
}
.pets-movie-list .view-filter .filter-view-mode a:hover > [class^="mode-text"] {
    color: #e12160;
}
.pets-movie-list .view-filter .filter-view-mode .active {
    background-color: #3a87ad;
    color: #ffffff;
    font-weight: 700;
    cursor: default;
}
.pets-movie-list .view-filter .filter-view-mode .active:hover {
    background-color: #3a87ad;
    font-weight: 700;
    cursor: default;
}
.pets-movie-list .view-filter .filter-view-mode .active:hover > [class^="mode-text"] {
    color: #ffffff!important;
}
.pets-movie-list .view-filter .filter-view-mode .active  > [class^="icon-"] {
    background-image: url("../img/glyphicons-halflings-white.png");
}
.pets-movie-list .filter-view-mode .mode-text {
    color: #000000;
}
.pets-movie-list .filter-view-mode .mode-pic {
    background-position: -216px 0;
}
.pets-movie-list .filter-view-mode .mode-list {
    background-position: -264px 0;
}
.pets-movie-list .view-filter .filter-view-mode .active .mode-text{
    color: #ffffff;
    font-weight: 700;
}

.pets-movie-list .pets-movie-row {
    margin-top: 10px;
    padding-top: 5px;
    margin-left: 10px;
    border-top: 1px dotted #ccc;
    float: left;
    min-width: 840px;
}
.pets-movie-list .pets-movie-row .pets-movie{
    float: left;
    padding: 8px;
    border: 1px solid #fff;
}
.pets-movie-list .pets-movie-row .pets-movie:hover{
    border: 1px solid #18c2c8;
}
.pets-movie-list .pets-movie-row .pets-movie a{
    cursor: pointer;
}
.pets-movie-list .pets-movie-row .pets-movie-title{
    width: 150px;
    padding: 5px 0;
}
.pets-movie-list .pets-movie-row .pets-movie-title a{
    color: #000000;
    text-decoration: none;
}
.pets-movie-list .pets-movie-row .pets-movie-title a:hover{
    color: #e12160;
    text-decoration: underline;
}
.pets-movie-list .pets-movie-row .pets-movie-desc{
    width: 150px;
    height: 50px;
    line-height: 18px;
    font-size: 12px;
    word-wrap: break-word;
    word-break: break-all;
    color: #999;
    overflow: hidden;
}

.pets-movie-recommend {
    margin-bottom: 10px;
    text-align: center;
}
.pets-movie-recommend .recommend-movie-title{
    margin: 5px 0;
}
.pets-movie-recommend .recommend-movie-title a{
    color: #000000;
    font-weight: 700;
}
.pets-movie-recommend .recommend-movie-title a:hover {
    color: #e12160;
}
.pets-movie-recommend .recommend-movie-desc{
    text-align: left;
}
.pets-movie-hot {
    margin: 5px 0 10px 0;
}

.pets-pages {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 15px 0 5px;
    border-top: 1px dotted #ccc;
}
.pets-pages a{
    display: inline-block;
    height: 34px;
    line-height: 34px;
    padding: 0 14px;
    color: #666;
    border: 1px solid #eee;
    text-decoration: none;
    margin: 0 4px;
    font-weight: 700;
}
.pets-pages a:hover{
    background-color: #3a87ad;
    color: #fff;
}
.pets-pages .disable {
    background-color: #eee;
    opacity: 0.3;
    color: #666;
    cursor: default;
}

.pets-pages span{
    display: inline-block;
    height: 34px;
    line-height: 34px;
    padding: 0 15px;
    background-color: #3a87ad;
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    font-weight: 700;
}

.pets-movie-list .norecords-container {
    height: 105px;
    padding-top: 43px;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}
.pets-movie-list .norecords {
    width: 280px;
    margin: 0 auto;
}
