.pets-movie-container {
	padding: 10px 5px; 
	border: 1px solid #ddd; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px;
}
.pets-movie-detail {
    padding: 10px 10px 20px;
    height: 390px;
}
.pets-movie-return {
    float: right;
    margin: 5px 10px 0 0;
}
.pets-movie-return a{
    text-decoration: none;
}
.pets-movie-return a:hover{
    color: #e12160;
}
.pets-movie-title {
    font-weight: 700;
    font-size: 25px;
    color: #494949;
    line-height: 30px;
    padding: 5px 0 20px;
}
.pets-movie-title span {
    color: #aaa;
}
.pets-movie-desc {
    height: 340px;
}
.pets-movie-pic {
    width: 225px;
    height: 317px;
    padding: 5px;
    border: 1px solid #eee;
    float: left;
}
.pets-movie-info {
    float: left;
    padding-left: 15px;
    width: 890px;
}
.pets-movie-info dl {
    height: 24px;
    line-height: 24px;
    color: #666;
    font-size: 14px;
    padding: 3px 0;
    margin: 0;
}
.pets-movie-info dt {
    width: 70px;
    float: left;
    color: #888;
    font-weight: normal;
    line-height: 24px;
    float: left;
}
.pets-movie-info dd {
    color: #000;
    float: left;
    width: 800px;
}
.pets-movie-info dd a {
    display: block;
    float: left;
    text-decoration: none;
    margin-right: 10px;
    padding: 2px 5px;
    color: #000;
}
.pets-movie-info dd a.douban {
    padding-left: 18px;
    background: url("../img/douban.png") no-repeat center left;
}
.pets-movie-info dd a.mtime{
    padding-left: 18px;
    background: url("../img/mtime.jpg") no-repeat center left;
}
.pets-movie-info dd a:hover {
    background-color: #eee;
    color: #e12160;
}
.pets-movie-info .pets-movie-info-desc {
    line-height: 24px;
    height: 96px;
    overflow: hidden;
}

.pets-movie-play {
    height: 87px;
    border: 1px solid #eee;
    margin-left: 10px;
    padding: 10px;
}
.pets-movie-play .tips {
    height: 35px;
    line-height: 40px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 18px;
    color: #666;
    border-bottom: 1px dotted #ddd;
}
.pets-movie-play .play-list {
    height: 35px;
}
.pets-movie-play .play {
    display: block;
    float: left;
    width: 85px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #eee;
    background-color: #eee;
    padding-left: 20px;
    margin: 0 25px 0 0;
    color: #6FAC6F;
    text-decoration: none;
}
.pets-movie-play .play:hover {
    /*background-color: #eee;*/
    border: 1px solid #18c2c8;
    color: #e12160;
    cursor: pointer;
}
.pets-movie-play .play i{
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px 5px 0 0;
    background: url("../img/play.gif") no-repeat 7px 0;
}
.pets-movie-play .play .youku {
    background-position: -120px 0;
}
.pets-movie-play .play .tudou{
    background-position: -62px 0;
}
.pets-movie-play .play .qq{
    background-position: -120px -19px;
}
.pets-movie-play .play .iqiyi{
    background-position: -80px 0;
}
.pets-movie-play .play .pptv{
    background-position: -62px -19px;
}
.pets-movie-play .play .le{
    background-position: -80px -20px;
}

.pets-movie-other {
    margin: 15px 0 0 10px;
    border: 1px solid #eee;
    padding: 10px;
}
.pets-movie-other .tips {
     height: 35px;
     line-height: 40px;
     margin-bottom: 15px;
     font-size: 14px;
     color: #666;
    border-bottom: 1px dotted #ddd;
 }
.pets-movie-other .other-list {
    height: 260px;
}
.pets-movie-other .other-movie{
    width: 160px;
    height: 265px;
    overflow: hidden;
    float: left;
    margin: 0 14px;
}
.pets-movie-other .other-movie img{
    padding: 3px;
    border: 1px solid #eee;
    width: 150px;
    height: 220px;
}
.pets-movie-other .other-movie img:hover{
    border-color: #18c2c8;
    cursor: pointer;
}
.pets-movie-other .other-movie .name{
    display: block;
    width: 160px;
    height: 25px;
    line-height: 25px;
    color: #000;
    text-decoration: none;
    text-align: center;
    margin-top: 5px;
    padding: 2px;
}
.pets-movie-other .other-movie .name:hover{
    color: #e12160;
    text-decoration: underline;
}
